<%-include("header") -%>
    <div class="box" id="heading">
      <h1><%= listTitle %></h1>
    </div>
    <div class="box">
      <% for(var i = 0; i < newItems.length; i++){ %>
      <div class="item">
        <input type="checkbox" />
        <p><%=newItems[i]%></p>
      </div>
      <% } %>
      <form class="item" action="/" method="post">
        <input type="text" name="todo" placeholder="New Item" />
        <button name="list" value="<%= listTitle %>" type="submit" >+</button>
      </form>
    </div>
    <script src="app.js"></script>
<%-include("footer") -%>
